<div class="main">
  <div class="container">
    <div class="heading">
      ユーザー情報の編集
    </div>
    <%= render("form") %>
    <%= link_to("戻る", owner_path(@owner), {class: "btn return-btn"}) %>
  </div>
</div>
