<div class="main">
  <div class="container">
    <div class="home-wrapper">
      <ul class="top-btns">
        <li><%= link_to("従業員の方はこちら", "/workers/top", {class: "btn large-btn"}) %></li>
        <li><%= link_to("管理者の方はこちら", "/owners/top", {class: "btn large-btn"}) %></li>
      </ul>
    </div>
  </div>
</div>
