<div class="main">
  <div class="container">
    <div class="heading">
      アカウント作成（従業員）
    </div>
    <%= render("form") %>
    <%= link_to("戻る", "/workers/top", {class: "btn return-btn"}) %>
  </div>
</div>
